doctype html
head
  link(rel='icon' href='' type='image/x-icon')
  link(rel='shortcut icon' href='/static/images/Web_logo.png' type='image/x-icon')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Aexyn | Sign Up
  link(rel='stylesheet' type='text/css' href='/static/css/aexyn-style.css')
  link(rel='stylesheet' type='text/css' href='/lib/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='/lib/font-awesome/css/font-awesome.min.css')
  script(type='text/javascript' src='/lib/jquery/dist/jquery.min.js')
  script(type='text/javascript' src='/static/js/aexyn-main.js')
  script(type='text/javascript' src='/static/dist/vendor.js')
