html
  include includes/head.pug
  include includes/userinfo.pug
  script(type='text/javascript' src='/static/dist/company-manager.js')
   script(type='text/javascript' src='https://www.google.com/recaptcha/api.js' async defer)
  script(type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8oRsUqxfvHuG1zXSLcTL5ezKVocMYJbs&libraries=places" async defer)
  body
      body
        #company-manager