html
  include includes/head.pug
  script(type='text/javascript' src='/static/dist/create-account.js')
  script(type='text/javascript' src='https://www.google.com/recaptcha/api.js' async defer)
  body
      body
        #create-account