html
  title Aexyn | Join Us
  include includes/head.pug
  script(type='text/javascript' src='/static/dist/create-account.js')
  script(type='text/javascript' src='https://www.google.com/recaptcha/api.js' async defer)
  script(type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8oRsUqxfvHuG1zXSLcTL5ezKVocMYJbs&libraries=places" async defer)
  body
      body
        #create-account